
.articles {

	max-width		: 900px;
	margin			: 0 auto;
}


.article {

	font-size		: #{$mobile-ratio}em;

	display			: block;
	overflow		: hidden;

	position		: relative;

	width			: 100%;
	padding			: 0;
	border-bottom	: 1px solid #fff;

	color			: #424242;

	box-shadow		: inset 0 -1px 0 #dedede;

	@include breakpoint( $breakpoint-tablet-portrait ) {

		font-size		: 1em;

	}

}

.article:last-of-type {

	border			: 0;
	box-shadow		: none;

}

// .article, .article-alternate {

// 	display			: block;
// 	overflow		: hidden;

// 	position		: relative;

// 	width			: 100%;
// 	border-bottom	: 1px solid #424242;

// }

// .article {

// 	background		: #f5f6f6;
// 	background-size	: cover;

// 	color			: #424242;

// }


// .article-alternate {



// }

// .article-white {

// 	color			: #fff;
// 	text-shadow		: 0 -1px 0 #000;


// 	background		: #000;

// }

// .ar-background {

// 	position		: absolute;

// 	z-index			: 0;

// 	min-width		: 100%;
// 	min-height		: 100%;

// 	opacity			: .4;

// }


.ar-share {

	position			: absolute;
	right				: 0;
	top					: 0;
	z-index				: 5;

	height				: 100%;
	width				: 60px;
	margin				: 0;
	padding				: 0;

	background			: #e4e5e5;

	.icon {

		text-shadow		: 0 1px 0 rgba( 0, 0, 0, .6 );
		font-size		: 4.8em / $mobile-ratio;
		line-height		: 1em;
		color			: #fff;

		// relative does not work on mobile safari
		position		: absolute;
		top				: 50%;
		left			: 0; // avoids arbitrary positionning by browsers

		margin-top		: -24px; // ems do not work on mobile safari

		width			: 100%;

		text-align		: center;
	}

	@include breakpoint( $breakpoint-tablet-portrait ) {

		background		: #e4e5e5;
		background		: rgba( 0, 0, 0, .07 );

		margin			: 0;

		transition		: opacity .2s ease-in-out;

		padding			: 20px 0;
		opacity			: 0;

		right			: auto;
		left			: 0;

		z-index			: 15;

		min-height		: 100%;

		.article:hover & {

			opacity			: 1;

		}

	}

}

// .ar-share {

// 	.article & {

// 		background		: rgba( 0, 0, 0, .07 );

// 		margin			: 0;
// 		padding			: 0;

// 		transition		: opacity .2s ease-in-out;

// 		padding			: 20px 0;
// 		opacity			: 0;

// 		position		: absolute;
// 		top				: 0;
// 		left			: 0;
// 		z-index			: 10;

// 		min-height		: 100%;


// 	}

// 	.article:hover & {

// 		opacity			: 1;

// 	}

// 	.article-alternate & {

// 		display			: inline-block;
// 		padding			: 10px 0 0;

// 	}

// }

.ar-options {

	height			: 100%;

}

.ar-option {

	height			: 50%;
	display			: block;
	text-align		: center;
	position		: relative;


	// .article & {

	// 	display			: block;
	// 	text-align		: center;

	// }

// 	.article-alternate & {

// 		display			: inline-block;
// 		padding			: 0 40px;

// 	}

}


.ar-main {

	padding			: 35px * $mobile-ratio;;

	position		: relative;
	z-index			: 10;

	background		: #f5f6f6;

	box-shadow		: 1px 0 5px rgba( 0, 0, 0, .27);

	@include breakpoint( max-width $breakpoint-tablet-portrait ) {

		transition		: all .2s ease-in-out;

		.no-touch .article:hover & {

			transform		: translate( -60px );

		}

	}

	@include breakpoint( $breakpoint-tablet-portrait ) {

		padding-left		: 75px;

	}


}



.ar-title {

	font-size		: 3.4em;
	font-family		: Palatino, serif;
	font-weight		: 600;
	line-height		: 1.25em;

	margin			: 0 0 10px;

	@include breakpoint( $breakpoint-tablet-portrait ) {

		font-size		: 2.4em;
		line-height		: 1em;

	}

}

.ar-meta {

	font-size		: 2em;
	margin			: 0 0 10px;

	font-weight		: 200;

	@include breakpoint( $breakpoint-tablet-portrait ) {

		font-size		: 1.4em;
		line-height		: 1.71em;

	}


}

.ar-source, .ar-meta {

	color			: inherit;

}


.ar-synopsis {

	font-size		: 2.4em;
	line-height		: 1.25em;

	@include breakpoint( $breakpoint-tablet-portrait ) {

		font-size		: 1.8em;
		line-height		: 1.33em;

		text-align		: justify;

	}


	// .article & {

	// 	max-width		: 800px;

	// }

	// .article-alternate & {

	// 	text-align		: justify;

	// }

}


// .ar-image {

// 	float			: left;
// 	margin-right	: 55px;

// }
