
.main-header {

	padding		: 70px*$mobile-ratio 30px 20px 25px;

	background	: url( /images/background-header.jpg ) top center;
	background-size	: cover;

	color		: #fff;

	text-shadow	: 0 -1px 0 #000;

	position	: relative;

	font-size	: #{$mobile-ratio}em;
	font-weight	: 400;


	@include breakpoint( $breakpoint-tablet-portrait ) {

		padding		: 75px 70px;
		font-size	: 1em;

	}

}

.mh-title {

	margin-top	: 0; 

	font-size	: 4.8em;
	font-weight	: 600;
	letter-spacing : -0.05em;
	line-height	: .67em;

}

.mh-heading {

	margin		: 2.8em 0 0;

	font-size	: 4em;
	line-height	: 1.2em;
	font-weight : inherit; 

	@include breakpoint( $breakpoint-tablet-portrait ) {

		font-size	: 3em;

	}

}

.mh-description {

	margin-top	: .9em;

	max-width	: 530px;

	font-size	: 2.6em;
	line-height : 1.25em;
	font-weight	: 400;

	@include breakpoint( $breakpoint-tablet-portrait ) {

		font-size	: 1.8em;

	}

}

.mh-menu {

	position	: absolute;
	right		: 40px * $mobile-ratio;
	top			: 70px * $mobile-ratio;

	margin		: 0;
	padding		: 0;

	.icons-menu {

		display		: block;
		cursor		: pointer; 

	}

	@include breakpoint( $breakpoint-tablet-portrait ) {

		top		: 80px;
		right	: 60px;

		.icons-menu {

			display		: none; 

		}

	}

}


.mh-menu-item {

	display		: none;

	@include breakpoint( $breakpoint-tablet-portrait ) {

		float		: left;
		display		: block;

		font-size	: 1.8em;
		font-weight	: 400;

		padding-left: 25px;

	}


}

.mh-menu-link {

	color		: #fff;
	text-decoration : none;
}

.mh-twitter {

	font-size	: 7.2em;
	color		: #fff;

	opacity		: .5;

	transition	: opacity .2s ease-in-out;

	a:hover & {

		opacity		: 1;

	}

 	@include breakpoint( $breakpoint-tablet-portrait ) {

 		font-size	: 4em;

	}


}



// }